* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #003E3A;
    font-family: roboto;
}

span,
p,
h1,
h2,
h3,
h4 {
    cursor: default;
}

button,
select,
#accountMan,
#more {
    cursor: pointer;
}

.create___header {
    padding: 30px 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create__header--profile-icon {
    position: relative;
    opacity: 0;
}

.create___header h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.create__section {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 600px;
    padding: 34px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.create__section--cards-card {
    background-color: #003E3A;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 16px;
    margin: 10px;
    position: relative;
    opacity: 0;
}

.create__section-card {
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.create__section--cards-card-text {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 30px;
}
.create__section-cards-card{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 30px;
    background-color: #003E3A;
}

.create__section--cards-card-text {
    color: rgb(255, 255, 255);
}

.create__section--cards-card-icon img {
    width: 50px;
}

.create__section-button {
    padding: 23px 0;
}

.create__header--title {
    position: relative;
    opacity: 0;
}

.create__section--button-button {
    background-color: #D95140;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px 91px;
    margin-left: 10px;
    outline: none;
    border: none;
    opacity: 0;
    position: relative;
}

.modal__window {
    padding: 10px;
    opacity: 0;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #003E3A;
    width: 901px;
    height: 539px;
    z-index: 2;
}

#close--button {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 28px;
    background-color: inherit;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    outline: none;
}

.modal__window--title {
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 58px 0 37px 0;
}
.create__section--cards-card-image{
    margin-left: 10px;
}
.create__section--cards-card-image>img{
    width: 100px;
    height: 100px;
}

.wrapper {
    width: 51%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.selector {
    padding: 11px 24px;
    width: 463px;
    outline: none;
    color: #003E3A;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.login {
    width: 100%;
    padding: 11px 24px;
    width: 410px;
    color: #003E3A;
    outline: none;
    font-size: 16px;
}

.gen {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.password {
    width: 30%;
    padding: 11px 24px;
    width: 160px;
    color: #003E3A;
    outline: none;
    font-size: 16px;
}

.arrowdown {
    background-color: inherit;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    padding: 0 10px;
}

.kriterii {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(2, 50px);
    margin-left: 50px;
}

.kriterii-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    position: relative;
}

.kriterii-div>input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.kriterii>div>span {
    color: white;
    font-size: 16px;
}

.gen__password {
    width: 40%;
    background-color: inherit;
    border: 2px solid white;
    color: white;
    font-size: 16px;
}

.button__add {
    height: 45px;
    width: 228px;
    text-align: center;
    background-color: #D95140;
    color: white;
    border: none;
    outline: none;
    font-size: 22px;
}

.window {
    width: 200px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 84%;
    top: 145px;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 3px solid #D95140;
    opacity: 0;
}

.window>div {
    margin-bottom: 5px;
}

.window>div>button {
    background-color: #D95140;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 15px;
    outline: none;
    border: none;
    margin-top: 10px;
    width: 150px;
}

.back_modal {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    position: fixed;
    display: none;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}